@import './_partials/_Contact', './_partials/_GIFOS-Search', './_partials/_GIFOS-Trends', './_partials/_header';

* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}