.Contact {
    p {
        margin-top: 10%;
        text-align: center;
    }
    .social-media{
        display: flex;
        justify-content: center;
        margin-top: 8%;
        margin-bottom: 15%;
        i{
            color: #cdd5e0;
            font-size: 5vw;
            padding-right: 5%;
        }
    }
    h5 {
        text-align: center;
        font-weight: normal;
        margin-bottom: 5%;
    }
}