.GIFOS-Trends {
    background-color: #f4f5f9;
    height: 55vh;
    h3 {
        color: #5532D3;
        padding-top: 7%;
        margin-left: 5%;
        font-size: 26px;
        text-align: center;
    }
    p{
        margin-left: 5%;
        margin-top: 3%;
        text-align: center;
    }
}